//mixins con parametros

@mixin new ($width, $height) {
    width: $width;
    height: $height;
    background-color: red
}

.sect-1{
    @include new(500px, 200px)
}

//mixin sin parametros 

@mixin mixin2{
    display: flex;
    justify-content:start;
    justify-items: center;
    align-items: center;
}

//extend

%tamano {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-top: 100px;
}

//condicionales

@mixin condition ($color){
    background-color: $color;

    //condicional
    @if $color == #07102C{
        border: 3px solid #A01721;
    }
    @else {
        border: 3px solid black;
    }
}
